html{
    height: 100%
}

body{
    background: linear-gradient(0deg, #b2f7ef, #eff7f6);
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no repeat;
    text-align: center;
}

button{
    background-color: rgb(239, 247, 246);
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;

}