body{
    background-color: rgb(239, 247, 246);
    text-align: center;
}

button{
    background-color: rgb(239, 247, 246);
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;

}