<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Entry Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h1>Please Select Your Mood.</h1>
    <h3>Type in your journal entry first, then click your overall mood choice.</h3>
    <br>
    <form method = "POST" action = ""> <!--Creates the MOOD Form-->
        {{ form.hidden_tag() }}
        <br>
        {{ form.happy }}
        <img src="{{url_for('static', filename='Glad_Froggo.png')}}" height = "80" width="80"/>
    

        {{ form.sad }}
        <img src="{{url_for('static', filename='Sad_Froggo.png')}}" height = "80" width="80"/>
        

        {{ form.angry }}
       <img src="{{url_for('static', filename='Mad_Froggo.png')}}" height = "80" width="80"/>
    

        {{ form.meh }}
        <img src="{{url_for('static', filename='Meh_Froggo 2.png')}}" height = "80" width="80"/>
        

        {{ form.romantic }}
        <img src="{{url_for('static', filename='Romantic_Froggo.png')}}" height = "80" width="80"/>
    

        {{ form.stressed }}
        <img src="{{url_for('static', filename='Anxious_Froggo 3.png')}}" height = "80" width="80"/>
    
        <br>
        <br>
        {{ form.journal }}
        <br>
        <br>
        <a href="{{url_for('dashboard')}}">Go to Dashboard</a><br>
    </form>
</body>
</html>