<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Entries</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h1 style="color:rgb(73, 56, 67)">Here are your previous entries:</br></h1>
    <br>
    <table id="preventry">
        {% for row in csv %}
          <tr>
          {% for col in row.split(",") %}
          <td>{{ col }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
    <br>
    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>